<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="layout(title, content)">
	<!DOCTYPE html>
	<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title th:replace="${title}">Cerbère</title>

		<link href="https://cdn.jsdelivr.net/npm/beercss@3/dist/cdn/beer.min.css" rel="stylesheet">
		<script type="module" th:src="@{https://cdn.jsdelivr.net/npm/beercss@3/dist/cdn/beer.min.js}"></script>
		<script type="module" th:src="@{https://cdn.jsdelivr.net/npm/material-dynamic-colors@1/dist/cdn/material-dynamic-colors.min.js}"></script>
		<script th:src="@{https://unpkg.com/htmx.org@2}"></script>
	</head>
	<body class="light">
	<header th:replace="~{fragments/nav :: nav}"></header>
	<main class="responsive" style="padding: 1rem 1.5rem;" th:replace="${content}"></main>
	</body>
	</html>
</div>
</body>
</html>
