<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="nav" class="fixed primary">
	<nav>
		<h5>Cerbère</h5>
		<a href="/alarm" class="button">
			<i>shield</i>
			<span>Alarme</span>
		</a>
		<a href="/devices" class="button">
			<i>sensors</i>
			<span>Devices</span>
		</a>
		<a href="/zones" class="button">
			<i>door_front</i>
			<span>Zones</span>
		</a>
		<a href="/history" class="button">
			<i>history</i>
			<span>Historique</span>
		</a>
		<a href="/test-mode" class="button" th:if="${testModeEnabled}">
			<i>science</i>
			<span>Mode test</span>
		</a>
	</nav>
</header>
</body>
</html>
